<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         verbose="true">
    <testsuites>
      <testsuite name="HTTP">
        <file>testsHttp.php</file>
      </testsuite>
    </testsuites>
</phpunit>